.header {
	width: 100%;
	left: 0 ;
	top: 0;
	right: 0;
	height: 6rem;
	background-color: var(--color-grey-900);
	position: sticky;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 10%;
	z-index: 100;

	ul {
		list-style: none;
		display: flex;
		align-items: baseline;
		margin: 0;
		padding: 0;
	}

	li {
		margin: 0 1rem;
	}

	a {
		color: var(--color-grey-100);
		font-size: 1rem;

		&:hover,
		&:active,
		&.active {
			color: var(--color-grey-200);
		}
	}

	@media (min-width: 768px) {
		ul {
			gap: 0.5rem;
		}

		a {
			font-size: 1.2rem;
		}
	}
}
