@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&family=Roboto&family=Source+Sans+Pro:wght@300&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	--color-grey-50: hsl(265, 55%, 96%);
	--color-grey-100: hsl(265, 19%, 88%);
	--color-grey-200: hsl(265, 7%, 70%);
	--color-grey-300: hsl(265, 6%, 66%);
	--color-grey-400: hsl(265, 4%, 57%);
	--color-grey-500: hsl(265, 3%, 53%);
	--color-grey-600: hsl(265, 4%, 42%);
	--color-grey-700: hsl(265, 4%, 31%);
	--color-grey-800: hsl(276, 5%, 20%);
	--color-grey-900: hsl(280, 5%, 13%);

	--color-primary-50: #c8b3ce;
	--color-primary-100: #a07aaa;
	--color-primary-200: #884c97;
	--color-primary-300: #843897;
	--color-primary-400: #732392;
	--color-primary-500: #5a097a;
	--color-primary-600: #480264;
	--color-primary-700: #3d0264;

	--color-success-100: #a2f0bc;
	--color-success-500: #12bd4b;

	--color-error-100: #f1acc9;
	--color-error-500: #a10c4a;

	/* --size-1: 0.25rem;
	--size-2: 0.5rem;
	--size-3: 0.75rem;
	--size-4: 1rem;
	--size-5: 1.25rem;
	--size-6: 1.5rem;
	--size-8: 2rem;
	--size-16: 4rem;
	--size-20: 5rem;
	--size-40: 10rem; */

	margin: 0;
	background-color: var(--color-grey-500);
	color: #fff;
	font-family: 'Roboto', sans-serif;
	transition: 0.3s;
}

.dark {
	background: #21213f;
}

main {
	height: 90vh;
}

.section {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}

h1,
h2,
h3 {
	font-family: 'Oswald', 'Roboto', sans-serif;
}

a {
	text-decoration: none;
}

button {
	font: inherit;
	cursor: pointer;
}



/* Controls DarkMode*/

.input {
	display: none;
}

.switch {
	display: flex;
	width: 60px;
	height: 30px;
	padding: 3px;
	border-radius: 15px;
	background: #21213f;
	overflow: hidden;
	cursor: pointer;
}

.switch ::before,
.switch ::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 24px;
	height: 24px;
	border-radius: 50%;
}

.handle {
	position: relative;
	width: 24px;
	height: 24px;
	transition: 0.3s;
}

.handle::before {
	background: #fff;
}

.handle::after {
	background: #fff;
	opacity: 0;
	translate: -7px -7px;
}

body.dark .switch {
	background: #fff;
}

body.dark .handle {
	translate: 30px 0;
}

body.dark .handle::after {
	opacity: 1;
}

body.dark .handle::before {
	background: #21213f;
}


/* End Css */

/* Loading Button */

.button-loading::after,
.button-loading::before {
	content: '';
	position: absolute;
	top: 0;
	left: -100%;
	width: 300%;
	height: 100%;
	opacity: 0;
	transition: opacity 0.25s;
}
.button-loading.loading::after,
.button-loading.loading::before {
	opacity: 1;
}

.button-loading::before {
	z-index: 10;
	background: #ef4169 
	repeating-linear-gradient(
		60deg,
		transparent,
		transparent 10px,
		#d7385c 10px,
		#d7385c 20px
	);
}

.button-loading::after {
	z-index: 20;
	background: linear-gradient(transparent, #ef4169 90%);
}

.button-loading.loading::before {
	animation: loading 0.7s infinite linear;
}

.button-loading.loading .icon {
	animation: spin 1s infinite linear;
}


@keyframes loading {
	0% {
		transform: translateX(25px);
	}
	100% {
		transform: translateX(-20px);
	}
}

@keyframes spin {
	100% {
		rotate: 1turn;
	}
}
/* End Loading Button */

/* SliderEcommerce Slick-Carousel */

.slick-dots {
	position: absolute;
	left: 0;
	right: 0;
	bottom: -29px;
	display: flex !important;
	justify-content: space-between;
	align-items: center;
	gap: 8px;
	padding-left: 16px;
	padding-right: 16px;
}

.slick-dots li {
	position: relative;
	display: flex;
	align-items: center;
	max-width: 234px;
}

/* .slick-arrow {
	display: none !important;
} */
/* position: absolute;
font-size: 0px;
top: 50%;
transform: translate(-50%, -50%);
z-index: 20;
width: 40px;
height: 40px;
background: #fff;
border-radius: 50%;
box-shadow: rgba(0, 0, 0 / 8%) 0px 2px 4px 0px, rgba(0, 0, 0 / 8%) 0px 0px 2px 1px; */

/* 
.slick-prev {
	left: 25px;
}

.slick-next {	
	right: -15px;
} */

@media (min-width: 1080px ) {
	
	.slick-dots {
		padding-left: 24px;
	padding-right: 24px;
		
	}
} 

@media (min-width: 1280px ) {
	.slick-dots {
		bottom: -5px;
		
	}
	
	.slick-dots li {
		max-width: 300px;
	}

	.slick-slider {
		max-width: 1280px;
		margin: 0 auto;
	}

}

.slick-dots li::after {
	content: '';
	position: absolute;
	display: none;
	border-radius: 10px;
	top: -5px;
	left: 0;
	right: 0;
	height: 4px;
	background: #222020;
}

.slick-dots .slick-active::after {
	display: flex;
}

.slick-active {
	color: #222020;
}

/* SliderEcommerce Slick-Carousel  END */
